.form {
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .field {
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 12px;
    width: 95%;
  }
  
  .error {
    color: red;
    margin-bottom: 4px;
  }
  
  .sumbitBtn {
    padding: 6px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: transparent;
    font-family: inherit;
    font-weight: 500;
    margin: 0 auto;
  }
  
  .sumbitBtn:hover,
  .sumbitBtn:focus {
    background-color: darkblue;
    color: white;
  }
  