#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 30px 20px;
}


.link {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

.active-link {
  color: darkblue; 
  text-decoration: none; 
  font-weight: bold;
}

.active-link::after, .active-link::before {
  content: ' : ';
  
}

h1 , p{
  text-align: center;
}