.list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 16px;
    align-items: center;
    
  }
  
  .item {
    min-width: 600px;
    list-style: none;
  }
  